@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {
	font-size: 1em;

}

.album-art {
	float: left;
	border: 2px red solid;
	padding: 10px;
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	float: left;
	border: 2px red solid;
	padding: 10px;
}

.record-label {
 color: red;
}

.track-list {
	float: right;
	width: 250px;
	padding: 10;
}

#about-photo {
 border: 2px red solid;
}

#copyright {
	color: red;
}

#section-about, #section-discography, #section-equipment {
	border: 2px red solid;
	padding: 15px;
	margin: 15px;
}

#text-intro {
	
}